# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# PHP runtime
vendor/
composer.lock


# Uploads (keep .gitkeep only)
assets/uploads/**
!assets/uploads/
!assets/uploads/reports/
!assets/uploads/attestations/
!assets/uploads/**/.gitkeep

# Local config (if any)
.env

# Misc
olive-sproject/
